tld
bs4
tld
six
idna
cmd2
pipx
tqdm
lxml
fire
wget
emoji
flask
regex
numpy
scapy
updog
exrex
psutil
PyPDF2
loguru
future
pycurl
ipaddr
flake8
py3DNS
pproxy
shodan
Pillow
PyYAML
pynput
pandas
google
aioquic
pathlib
treelib
chardet
certifi
asyncio
aiohttp
colored
pyngrok
blessed
urllib3
netaddr
PySocks
ipython
pwntools
pyfiglet
pydantic
impacket
paramiko
rgbprint
requests
selenium
colorama
argparse
colorlog
soupsieve
dnspython
netifaces
termcolor
pyOpenSSL
texttable
enlighten
GitPython
ansi2html
tldextract
validators
SQLAlchemy
gnureadline
prettytable
pyreadline3
cryptography
minikerberos
pycryptodome
humanfriendly
pycryptodomex
beautifulsoup4
python-libnmap
win32-setctime
fake-useragent
python-Wappalyzer
virtualenvwrapper
terminable_thread
# apt install build-essential zlib1g-dev libncurses-dev libgdbm-dev libnss3-dev libssl-dev libreadline-dev libffi-dev pkg-config gdb lcov libbz2-dev libgdbm-compat-dev liblzma-dev libsqlite3-dev lzma tk-dev uuid-dev wget curl llvm libncurses5-dev libncursesw5-dev xz-utils python3-openssl python3-dev
# python3 -m pip install --no-index --find-links /home/redhat/Documents/africana-framework/afr_extras/py_modules -r /root/.afr3/africana-base/requirements.txt
